<div class="container-fluid gallery-photos">
  <!-- for each category -->
  {% for galerie in photos.galeries %} 
    <div class="p-4 category visible" data-category="{{ galerie.name }}">
      <h2 class="p-4">{{ galerie.h2-title }}</h2>
      <div class="row">
        {% for photo in galerie.items %}
          <!-- show the photos -->
          <div class="col-12 col-sm-4 col-lg-3 pb-4">
            <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>