
<div class="container-fluid gallery-header">
  <h1 class="text-center p-5 editable h1-title">
      Galerie de photos
  </h1>
  <div class="blue-container p-5 gallerys-presentation"> 
    <p class="editable">
      Je vous présente une sélection de mes photos préférées. J'éternise les plus beaux moments de votre vie. 
    </p> 
    <p class="editable">
        Ces moments sont classés dans les catégories suivantes : <br /> Mariage - Grossesse - Bébé - Famille - Baptême - Couple - Portrait
    </p>
    <p class="editable">
        Vous pouvez, si vous le souhaitez, visualiser les photos d'une catégorie en particulier grâce à la liste déroulante ci-après.
    </p>  
    
    <div class="dropdown mt-5 text-center">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ dropdown-text }}
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item text-center" type="button">Toutes les catégories</button></li>
        <li><button class="dropdown-item text-center" type="button">Portrait</button></li>
        <li><button class="dropdown-item text-center" type="button">Couple</button></li>
        <li><button class="dropdown-item text-center" type="button">Mariage</button></li>
        <li><button class="dropdown-item text-center" type="button">Grossesse</button></li>
        <li><button class="dropdown-item text-center" type="button">Bébé</button></li>
        <li><button class="dropdown-item text-center" type="button">Baptême</button></li>
        <li><button class="dropdown-item text-center" type="button">Famille</button></li>
      </ul>
    </div>
  </div>
</div>