<div class="container-fluid gallery-photos">

  <!-- portrait category -->
  <div class="p-4 category visible" data-category="portrait">
    <h2 class="p-4">Catégorie Portrait</h2>
    <div class="row">
      {% for photo in photos.portraits %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>


  <!-- couple category -->
  <div class="p-4 category visible" data-category="couple">
    <h2 class="p-4">Catégorie Couple</h2>
    <div class="row">
      {% for photo in photos.couples %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- couple marriage -->
  <div class="p-4 category visible" data-category="marriage">
    <h2 class="p-4">Catégorie Mariage</h2>
    <div class="row">
      {% for photo in photos.marriages %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- pregnancy category -->
  <div class="p-4 category visible" data-category="pregnancy">
    <h2 class="p-4">Catégorie Grossesse</h2>
    <div class="row">
      {% for photo in photos.pregnancies %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- baby category -->
  <div class="p-4 category visible" data-category="baby">
    <h2 class="p-4">{{ photos.babies.h2-title }}</h2>
    <div class="row">
      {% for photo in photos.babies %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- baptism category -->
  <div class="p-4 category visible" data-category="baptism">
    <h2 class="p-4">{{ photos.baptismes.h2-title }}</h2>
    <div class="row">
      {% for photo in photos.baptismes %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- family category -->
  <div class="p-4 category visible" data-category="family">
    <h2 class="p-4">{{ photos.families.h2-title }}</h2>
    <div class="row">
      {% for photo in photos.families %}
        <!-- show the photo -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.path }}" alt="{{ photo.path | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

</div>