
$primary: rgb(71, 85, 94);
$secondary: rgb(34, 123, 168);
$tertiary: rgb(5, 74, 116);
$dark:rgb(41, 33, 36);
$white:  #EEEEEE;
$font-family-title:"Nova Mono", sans-serif !default;
$font-family-default: "Roboto", serif !default;
