/************************************************************ general ****************************/
a:hover {
  opacity:0.5;
}

h1, h2{
  font-family: 'Nova Mono',sans-serif;
}

.blue-container{
  background-color: rgb(129, 163, 184);
}

.blue-text {
  color:rgb(5, 74, 116);
}

/************************************************************ header ****************************/
header{
  background-color: rgb(71, 85, 94);
}

/* nav bar */
.nav-link{
  color : #EEEEEE;
}

/************************************************************* home ****************************/
.hero{
  padding: 0;
  position : relative;
}

.big-title{
  font-weight: bold;
  font-size: 3rem; 
  position : absolute;
  top : 45%;
  transform : translate(0,-50%);
  display : block;
  width : 100%;
}

/****************************** gallery *****************************************/


/************* gallery top  **********************/

.gallery-header{
  padding : 0;
}

.dropdown-toggle{
  background-color: rgb(71, 85, 94);
  color :#EEEEEE;
}

.dropdown-menu{
  width : 215px;
}

/************ gallery photos  *************************/

.hidden {
  display : none;
}

.visible {
  display : block;
}

.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image{
  border-radius : 10px;
}

/************ Services & Rates*************************/

.service-price {
  font-weight:500;
}

/************ Contact************************/

form{
  display : flex;
  flex-direction: column;
}

form button {
  width : 200px;
  background-color: rgb(71, 85, 94);
  color :#EEEEEE;
  border-radius: 7px;
  border: 1px rgb(71, 85, 94) solid;
  padding : 5px;
}

form button:enabled:hover {
  background-color: rgb(129, 163, 184);
  color :rgb(41, 33, 36);
  border-color : rgb(41, 33, 36);
}

form button:disabled {
  opacity:0.5;
}
