@import 'custom';

/************************************************************ general ****************************/
*{
  font-family: font-family-default;
}

a:hover {
  opacity:0.5;
}

h1, h2{
  font-family: font-family-title;
}

.blue-container{
  background-color: secondary-color;
}

.blue-text {
  color:tertiary-color;
}

/************************************************************ header ****************************/
header{
  background-color: primary-color;
}

/* nav bar */
.nav-link{
  color :white-color;
}

/************************************************************* home ****************************/
.hero{
  padding: 0;
  position : relative;
  height: 100vh;
}

.big-title{
  font-weight: bold;
  font-size: 3rem; 
  position : absolute;
  top : 45%;
  transform : translate(0,-50%);
  display : block;
  width : 100%;
}

/****************************** gallery *****************************************/


/************* gallery top  **********************/

.gallery-header{
  padding : 0;
}

.dropdown-toggle{
  background-color: primary-color;
  color :white-color;
}

.dropdown-menu{
  width : 215px;
}

/************ gallery photos  *************************/

.hidden {
  display : none;
}

.visible {
  display : block;
}

.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image{
  border-radius : 10px;
}

/************ Services & Rates*************************/

.service-price {
  font-weight:500;
}

/************ Contact************************/

form{
  display : flex;
  flex-direction: column;
}

form button {
  width : 200px;
  background-color:primary-color;
  color : white-color;
  border-radius: 7px;
  border: 1px primary-color solid;
  padding : 5px;
}

form button:enabled:hover {
  background-color: secondary-color;
  color :dark-color;
  border-color : dark-color;
}

form button:disabled {
  opacity:0.5;
}
